{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}Add Page{% endblock %}

{% block body_block %}
    {% if category %}
        <form role="form"  id="page_form" method="post"
              action="/rango/category/{{category.slug}}/add_page/">
            <h2 class="form-signin-heading">
                Add a Page to <a href="/rango/category/{{category.slug}}/">
                {{ category.name }}</a>
            </h2>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button class="btn btn-primary" type="submit" name="submit">
                    Add Page</button>
            {% endbuttons %}
        </form>
    {%  else %}
        <p>This is category does not exist.</p>
    {%  endif %}

{% endblock %}